<div class="img-item img-item-1">
  <img class="cover-bg-img" src="assets/img/uploads/awrd-img.jpg" alt="" />
</div>

<div class="img-item">
  <img class="cover-bg-img" src="assets/img/uploads/awrd-img.jpg" alt="" />
  <div class="icon">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 508.2 508.2"
      xml:space="preserve"
      style="fill: rgba(0, 0, 0, 0.3)"
    >
      <g>
        <g>
          <g>
            <path
              d="M421.15,139c-9.7-9.7-15.1-22.6-15.1-36.4c0-37.3-30.4-67.7-67.7-67.7c-13.7,0-26.7-5.4-36.4-15.1
                            c-26.4-26.4-69.3-26.4-95.7,0c-9.7,9.7-22.6,15.1-36.4,15.1c-37.3,0-67.7,30.4-67.7,67.7c0,13.7-5.3,26.7-15.1,36.4
                            c-12.8,12.8-19.8,29.8-19.8,47.9s7,35.1,19.8,47.9c9.7,9.7,15.1,22.6,15.1,36.4c0,30.7,20.5,56.6,48.5,64.9l-39.3,146.8l59.3-33
                            l34.8,58.3l36.3-135.5c4.1,0.7,8.2,1.1,12.3,1.1c4.1,0,8.2-0.4,12.3-1.1l36.4,135.4l34.8-58.3l59.3,33L357.55,336
                            c28-8.3,48.5-34.2,48.5-64.9c0-13.7,5.4-26.7,15.1-36.4C447.55,208.4,447.55,165.4,421.15,139z"
            />
            <path
              d="M254.15,65.1c-67.2,0-121.9,54.7-121.9,121.9s54.7,121.8,121.9,121.8s121.9-54.7,121.9-121.9S321.35,65.1,254.15,65.1z
                            M254.15,292.5c-58.2,0-105.6-47.4-105.6-105.6s47.4-105.6,105.6-105.6s105.6,47.4,105.6,105.6S312.35,292.5,254.15,292.5z"
            />
            <path
              d="M254.15,103.8l-18.1,55.8h-58.7l47.5,34.5l-18.1,55.8l47.5-34.5l47.5,34.5l-18.2-55.8l47.5-34.5h-58.7L254.15,103.8z
                            M270.75,207.4l-16.6-12.1l-16.6,12.1l6.3-19.5l-16.6-12.1h20.5l6.3-19.5l6.3,19.5h20.5l-16.6,12.1L270.75,207.4z"
            />
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>

<div class="img-item img-item-1">
  <img class="cover-bg-img" src="assets/img/uploads/awrd-img.jpg" alt="" />
</div>
