<header class="header-page over-hidden p-relative header-padding-top header-padding-bottom dsn-header-animation">
    <div class="bg-circle-dotted"></div>
    <div class="container">
        <div class="content-hero p-relative d-flex flex-column h-100 dsn-hero-parallax-fill">
           

            <div class="hero-title mt-30 dsn-load-animate text-transform-upper">
                <div class="d-inline-block">
                    <h1 class="title" data-dsn-ajax="title">
                        <%= about.header.title %>
                    </h1>
                    <h5 class="title title-fill">
                        <%= about.header.title %>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</header> 