<%- include('./partials/_header', { data: textile.header }) %>

<!-- Textile Section -->
<div class="wrapper">
  <%- include('./partials/_about-section', { about: textile }) %> <%-
  include('./partials/_testimonials', { about: textile }) %>
</div>
