<%- include('./partials/_header', { data: architecture.header }) %>

<!-- Architecture Section -->
<div class="wrapper">
  <%- include('./partials/_about-section', { about: architecture }) %> <%-
  include('./partials/_testimonials', { about: architecture }) %>
</div>
