<section class="next-page section-padding background-section">
    <div class="container">
        <div class="d-grid grid-sm-2">
            <div class="box-img">
                <div class="box-img-inner">
                    <img src="<%= contact.image %>" alt="">
                </div>
            </div>
            <div class="box-content d-flex flex-column justify-content-center">
                <div class="box-content-inner">
                    <h2 class="heading-h2 text-uppercase mb-30">
                        <%= contact.title %> <br> 
                        <%= contact.strongTitle %>
                    </h2>
                    <p><%= contact.description %></p>
                    <a href="contact.html" class="main-btn effect-ajax mt-30">
                        <span class="text">Send Request</span>
                        <span class="line-btn line-btn-top-left"></span>
                        <span class="line-btn line-btn-top-right"></span>
                        <span class="line-btn line-btn-bottom-left"></span>
                        <span class="line-btn line-btn-bottom-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> 