<div
  class="brand skills-circular p-relative"
  data-dsn-title="Skills"
  data-dsn-animate="section"
>
  <div class="circular-wrap p-relative section-padding">
    <div class="bg-section p-absolute w-100 h-100 over-hidden top-0">
      <div class="h-100">
        <img
          class="p-absolute cover-bg-img"
          src="<%= skills.background.image %>"
          alt=""
          style="
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: brightness(0.7);
          "
        />
      </div>
    </div>
    <div class="container" style="position: relative; z-index: 2">
      <div class="d-grid grid-lg-4 grid-sm-2">
        <% skills.items.forEach(function(skill) { %>
        <div class="circular-item p-relative text-center">
          <div class="circle p-relative" data-value="<%= skill.value %>">
            <h4 class="v-middle">0</h4>
          </div>
          <h5 class="mt-30 title-block mb-15 text-uppercase">
            <%= skill.title %>
          </h5>
          <p><%= skill.description %></p>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
