<%- include('./partials/header') %>

<div class="wrapper">
  <section class="contact-up section-padding background-section">
    <%- include('./partials/contact-info') %>
  </section>
  <div class="container"><%- include('./partials/map') %></div>
</div>
