<%- include('./partials/header') %>

<div class="wrapper">
    <section class="contact-up section-padding background-section">
        <%- include('./partials/contact-info') %>
    </section>

    <%- include('./partials/map') %>
</div> 